.g8 {
    gap: 8px;
}

.g16 {
    gap: 16px;
}

.g24 {
    gap: 24px;
}

.g32 {
    gap: 32px;
}

.g40 {
    gap: 40px;
}

.g48 {
    gap: 48px;
}

.g56 {
    gap: 56px;
}

.g64 {
    gap: 64px;
}

.g72 {
    gap: 72px;
}

.g80 {
    gap: 80px;
}

.g88 {
    gap: 88px;
}

.g96 {
    gap: 96px;
}

.g104 {
    gap: 104px;
}

.g112 {
    gap: 112px;
}

.g120 {
    gap: 120px;
}

.g128 {
    gap: 128px;
}