/*MARGINS*/
.m16 {
    margin: 8px;
}

.m16 {
    margin: 16px;
}

.m24 {
    margin: 24px;
}

.m32 {
    margin: 32px;
}

.m40 {
    margin: 40px;
}

.m48 {
    margin: 48px;
}

.m56 {
    margin: 56px;
}

.m64 {
    margin: 64px;
}

.m72 {
    margin: 72px;
}

.m80 {
    margin: 80px;
}

.m88 {
    margin: 88px;
}

.m96 {
    margin: 96px;
}

.m104 {
    margin: 104px;
}

.m112 {
    margin: 112px;
}

.m120 {
    margin: 120px;
}

.m128 {
    margin: 128px;
}
/*MARGIN TOP*/
.mt8 {
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.mt24 {
    margin-top: 24px;
}

.mt32 {
    margin-top: 32px;
}

.mt40 {
    margin-top: 40px;
}

.mt48 {
    margin-top: 48px;
}

.mt56 {
    margin-top: 56px;
}

.mt64 {
    margin-top: 64px;
}

.mt72 {
    margin-top: 72px;
}

.mt80 {
    margin-top: 80px;
}

.mt88 {
    margin-top: 88px;
}

.mt96 {
    margin-top: 96px;
}

.mt104 {
    margin-top: 104px;
}

.mt112 {
    margin-top: 112px;
}

.mt120 {
    margin-top: 120px;
}

.mt128 {
    margin-top: 128px;
}
.mt150{
    margin-top: 150px;
}
.mt200{
    margin-top: 200px;
}

/*MARGIN BOTTOM*/
.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb56 {
    margin-bottom: 56px;
}

.mb64 {
    margin-bottom: 64px;
}

.mb72 {
    margin-bottom: 72px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb88 {
    margin-bottom: 88px;
}

.mb96 {
    margin-bottom: 96px;
}

.mb104 {
    margin-bottom: 104px;
}

.mb112 {
    margin-bottom: 112px;
}

.mb120 {
    margin-bottom: 120px;
}

.mb128 {
    margin-bottom: 128px;
}

/* MARGIN LEFT */
.ml8 {
    margin-left: 8px;
}

.ml16 {
    margin-left: 16px;
}

.ml24 {
    margin-left: 24px;
}

.ml32 {
    margin-left: 32px;
}

.ml40 {
    margin-left: 40px;
}

.ml48 {
    margin-left: 48px;
}

.ml56 {
    margin-left: 56px;
}

.ml64 {
    margin-left: 64px;
}

.ml72 {
    margin-left: 72px;
}

.ml80 {
    margin-left: 80px;
}

.ml88 {
    margin-left: 88px;
}

.ml96 {
    margin-left: 96px;
}

.ml104 {
    margin-left: 104px;
}

.ml112 {
    margin-left: 112px;
}

.ml120 {
    margin-left: 120px;
}

.ml128 {
    margin-left: 128px;
}

/*MARGIN RIGHT*/
.mr8 {
    margin-right: 8px;
}

.mr16 {
    margin-right: 16px;
}

.mr24 {
    margin-right: 24px;
}

.mr32 {
    margin-right: 32px;
}

.mr40 {
    margin-right: 40px;
}

.mr48 {
    margin-right: 48px;
}

.mr56 {
    margin-right: 56px;
}

.mr64 {
    margin-right: 64px;
}

.mr72 {
    margin-right: 72px;
}

.mr80 {
    margin-right: 80px;
}

.mr88 {
    margin-right: 88px;
}

.mr96 {
    margin-right: 96px;
}

.mr104 {
    margin-right: 104px;
}

.mr112 {
    margin-right: 112px;
}

.mr120 {
    margin-right: 120px;
}

.mr128 {
    margin-right: 128px;
}