.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.p24 {
    padding: 24px;
}

.p32 {
    padding: 32px;
}

.p40 {
    padding: 40px;
}

.p48 {
    padding: 48px;
}

.p56 {
    padding: 56px;
}

.p64 {
    padding: 64px;
}

.p72 {
    padding: 72px;
}

.p80 {
    padding: 80px;
}

.p88 {
    padding: 88px;
}

.p96 {
    padding: 96px;
}

.p104 {
    padding: 104px;
}

.p112 {
    padding: 112px;
}

.p120 {
    padding: 120px;
}

.p128 {
    padding: 128px;
}

/*PADDING TOP*/
.pt8 {
    padding-top: 8px;
}

.pt16 {
    padding-top: 16px;
}

.pt24 {
    padding-top: 24px;
}

.pt32 {
    padding-top: 32px;
}

.pt40 {
    padding-top: 40px;
}

.pt48 {
    padding-top: 48px;
}

.pt56 {
    padding-top: 56px;
}

.pt64 {
    padding-top: 64px;
}

.pt72 {
    padding-top: 72px;
}

.pt80 {
    padding-top: 80px;
}

.pt88 {
    padding-top: 88px;
}

.pt96 {
    padding-top: 96px;
}

.pt104 {
    padding-top: 104px;
}

.pt112 {
    padding-top: 112px;
}

.pt120 {
    padding-top: 120px;
}

.pt128 {
    padding-top: 128px;
}

/*PADDING BOTTOM*/
.pb8 {
    padding-bottom: 8px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb24 {
    padding-bottom: 24px;
}

.pb32 {
    padding-bottom: 32px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb48 {
    padding-bottom: 48px;
}

.pb56 {
    padding-bottom: 56px;
}

.pb64 {
    padding-bottom: 64px;
}

.pb72 {
    padding-bottom: 72px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb88 {
    padding-bottom: 88px;
}

.pb96 {
    padding-bottom: 96px;
}

.pb104 {
    padding-bottom: 104px;
}

.pb112 {
    padding-bottom: 112px;
}

.pb120 {
    padding-bottom: 120px;
}

.pb128 {
    padding-bottom: 128px;
}

/*PADDING LEFT*/
.pl8 {
    padding-left: 8px;
}

.pl16 {
    padding-left: 16px;
}

.pl24 {
    padding-left: 24px;
}

.pl32 {
    padding-left: 32px;
}

.pl40 {
    padding-left: 40px;
}

.pl48 {
    padding-left: 48px;
}

.pl56 {
    padding-left: 56px;
}

.pl64 {
    padding-left: 64px;
}

.pl72 {
    padding-left: 72px;
}

.pl80 {
    padding-left: 80px;
}

.pl88 {
    padding-left: 88px;
}

.pl96 {
    padding-left: 96px;
}

.pl104 {
    padding-left: 104px;
}

.pl112 {
    padding-left: 112px;
}

.pl120 {
    padding-left: 120px;
}

.pl128 {
    padding-left: 128px;
}

/*PADDING RIGHT*/
.pr8 {
    padding-right: 8px;
}

.pr16 {
    padding-right: 16px;
}

.pr24 {
    padding-right: 24px;
}

.pr32 {
    padding-right: 32px;
}

.pr40 {
    padding-right: 40px;
}

.pr48 {
    padding-right: 48px;
}

.pr56 {
    padding-right: 56px;
}

.pr64 {
    padding-right: 64px;
}

.pr72 {
    padding-right: 72px;
}

.pr80 {
    padding-right: 80px;
}

.pr88 {
    padding-right: 88px;
}

.pr96 {
    padding-right: 96px;
}

.pr104 {
    padding-right: 104px;
}

.pr112 {
    padding-right: 112px;
}

.pr120 {
    padding-right: 120px;
}

.pr128 {
    padding-right: 128px;
}